.blogPosts-all-posts-header {
    padding: 5rem 0 5rem 0;
    text-align: center;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.show-isAuthenticated-popup {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
    .popup-paragraph {
        color: #fff;
        .login-paragraph {
            color: #1890ff;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.blog-posts-grid-container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;

    .grid-blog-item {
        position: relative;
        word-wrap: break-word;

        border-radius: 5px;
        box-shadow: 4px 6px 12px 6px rgba(255, 255, 255, 0.75);

        figure {
            margin: 0;
        }

        img {
            position: relative;
            top: 0;
            left: 0;
            border-radius: 5px;
            overflow: hidden;
            object-fit: cover;
            object-position: center center;
            min-height: 225px;
            max-height: 280px;
            height: 100%;
            width: 100%;

            z-index: -10;
        }

        &-title {
            color: #000;
            font-size: 1.2rem;
            padding: 1rem 0;
            text-align: center;
            margin: auto;
        }

        &-tag {
            position: absolute;
            top: 0rem;
            right: 0rem;
            color: #fff;
            font-weight: bold;
            padding: 0.3rem 0.8rem;
            border-radius: 0 5px 0 5px;
            box-shadow: -2px -1px 8px -3px rgba(255, 255, 255, 0.75);
        }

        &-description {
            color: #000;
            line-height: 1.6;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 22rem;
            max-height: 8rem;
        }

        &-author-date {
            margin-bottom: 0.5rem;
            .by-text {
                color: #ccc;
                font-weight: bold;
                font-size: 0.8rem;
            }
            .author {
                color: #1890ff;
                font-weight: bold;
                font-size: 1rem;
            }

            .date {
                color: #ccc;
                font-weight: bold;
                font-size: 0.8rem;
            }
        }
        .read-more {
            color: #1890ff;
            font-weight: 450;
            font-size: 1rem;
            margin: 0;
        }

        .post-info {
            color: #000;
            line-height: 1.6;
        }
    }
}

//Add new page button
.add-blog-post-link {
    .add-blog-post-btn {
        margin: 2.5rem auto;
        width: 15rem;
        background-color: #c53030;

        &,
        &:link,
        &:visited {
            background-color: #c53030;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            cursor: pointer;
            transition: all 0.2s;

            p {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                font-size: 1.2rem;
                margin: 0;
            }
        }

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: -2px -1px 16px -3px rgba(255, 255, 255, 0.75);
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: -2px -1px 16px -3px rgba(255, 255, 255, 0.75);
        }
    }
}
