.blog-wrapper {
    .main-background-blog {
        background-image: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 15rem 0;

        a {
            color: inherit;
            font-size: 2rem;
            display: block;
            text-decoration: none;
            color: #fff;
            animation: chevron-pulse 1.5s infinite;
        }

        &__overlay {
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.75;
            object-fit: cover;
            clip-path: polygon(
                50% 0%,
                100% 0,
                100% 60%,
                88% 100%,
                12% 100%,
                0% 60%,
                0 0
            );
        }

        h2 {
            text-align: center;
            padding: 1.6rem 0;
            font-size: 3.2rem;
            color: #fff;
            z-index: 0;
            line-height: 3.5rem;
        }
    }
}

.blog-posts-container {
    width: 76%;
    margin: 0 auto;
}

@keyframes chevron-pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 65.625rem) {
    .blog-wrapper {
        .main-background-blog {
            &__overlay {
                clip-path: none;
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .blog-wrapper {
        .main-background-blog {
            a {
                font-size: 1.8rem;
            }

            h2 {
                font-size: 2.8rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .blog-wrapper {
        .main-background-blog {
            a {
                font-size: 1.6rem;
            }

            h2 {
                font-size: 2.6rem;
                padding: 1.2rem 0;
            }
        }
    }
}

@media only screen and (max-width: 730px) {
    .blog-wrapper {
        .main-background-blog {
            a {
                font-size: 1.4rem;
            }

            h2 {
                font-size: 2.2rem;
                padding: 1rem 0;
            }
        }
    }
}
