.popup {
    position: fixed;
    z-index: -10;
    top: 40px;
    right: 40px;
    height: 60px;
    width: 60px;
    border-radius: 50%;

    background: radial-gradient(
        rgba(197, 48, 48, 1) 0%,
        rgba(14, 13, 38, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.ul-container {
    transition: all 1s ease-in-out;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-750%, 125%);
    text-align: center;

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            padding: 5px;

            .ul-container__link {
                font-size: 30px;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                background-image: none;
                transition: all 0.3s ease-in-out;

                animation: slidein 3s forwards;

                &:hover,
                &:active {
                    cursor: pointer;
                    background-image: linear-gradient(
                        120deg,
                        transparent 0%,
                        #fff 15%,
                        #fff 85%,
                        transparent 100%
                    );
                    color: rgba(14, 13, 38, 0.85);
                }
            }
        }
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    80% {
        transform: translate(0%, 125%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 125%);
    }
}

@keyframes pulsateBackground {
    0% {
        background-color: #0e0d26;
    }

    34% {
        background-color: #121131;
    }

    66% {
        background-color: #17163a;
    }

    90% {
        background-color: #121131;
    }

    100% {
        background-color: #0e0d26;
    }
}

@media only screen and (max-width: 900px) {
    .popup {
        height: 55px;
        width: 55px;
    }

    .ul-container {
        ul {
            li {
                .ul-container__link {
                    font-size: 26px;
                }
            }
        }
    }
}

@media only screen and (max-width: 730px) {
    .popup {
        height: 50px;
        width: 50px;
    }

    .ul-container {
        ul {
            li {
                .ul-container__link {
                    font-size: 24px;
                }
            }
        }
    }
}
