@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
.games-wrapper {
  width: 100%;
  background-image: url("../../../assets/img/games/GameBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.games-wrapper .header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0;
  padding-top: 11.5rem;
  text-align: center;
}

.games-wrapper .header-container p {
  color: #fff;
  font-size: 1.6rem;
  padding: 2rem 1rem;
  padding-bottom: 2rem;
  font-family: "Codystar";
  line-height: 2.4rem;
  font-weight: bold;
  text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 15px #00fff2, 0 0 40px #00fff2, 0 0 30px #00fff2, 0 0 30px #00fff2, 0 0 30px #00fff2, 0 0 60px #00fff2;
  text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 15px #00fff2, 0 0 40px #00fff2, 0 0 30px #00fff2, 0 0 30px #00fff2, 0 0 30px #00fff2, 0 0 60px #00fff2;
}

.games-wrapper h2 {
  font-size: 3.6rem;
  font-weight: bold;
  padding: 2rem 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 4.6rem;
  color: #fff;
  font-family: "Codystar";
  text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 15px #00fff2, 0 0 40px #00fff2, 0 0 30px #00fff2, 0 0 30px #00fff2, 0 0 30px #00fff2, 0 0 60px #00fff2;
}

.games-wrapper .games-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 400px))[3];
      grid-template-columns: repeat(3, minmax(250px, 400px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  padding: 3rem 3rem 10rem 3rem;
}

.games-wrapper .games-grid-container__grid-item {
  text-align: center;
  height: 400px;
  -webkit-box-shadow: 0px 2px 12px -3px rgba(255, 255, 255, 0.75);
          box-shadow: 0px 2px 12px -3px rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.games-wrapper .games-grid-container__grid-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.link-style {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.link-style p {
  margin: 10px 0;
}

.grid__item--tetris {
  background-image: url("../../../assets//img/games/Tetris.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.grid__item--bubbleShark {
  background-image: url("../../../assets/img/games/BubbleShoterSharkGame.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

@media screen and (max-width: 1350px) {
  .games-wrapper .games-grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .games-wrapper .games-grid-container__grid-item {
    height: 500px;
  }
  .games-wrapper .games-grid-container__grid-item .grid__item--tetris {
    height: 100%;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
  .games-wrapper .games-grid-container__grid-item:nth-child(odd) {
    margin-left: 1rem;
  }
  .games-wrapper .games-grid-container__grid-item:nth-child(even) {
    margin-right: 1rem;
  }
  .games-wrapper .games-grid-container__grid-item:nth-child(1) {
    margin-bottom: 3rem;
  }
  .games-wrapper .games-grid-container__grid-item:nth-child(2) {
    margin-bottom: 3rem;
  }
  .games-wrapper .games-grid-container__grid-item:nth-child(3) {
    margin-bottom: 3rem;
  }
  .games-wrapper .games-grid-container__grid-item:nth-child(4) {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1100px) {
  .games-wrapper .header-container h2 {
    font-size: 3rem;
  }
  .games-wrapper .header-container p {
    font-size: 1.4rem;
  }
  .games-wrapper .games-grid-container__grid-item {
    height: 450px;
  }
  .games-wrapper .games-grid-container__grid-item p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 950px) {
  .games-wrapper .header-container h2 {
    font-size: 2.8rem;
  }
  .games-wrapper .header-container p {
    font-size: 1.4rem;
  }
  .games-wrapper .games-grid-container__grid-item {
    height: 350px;
  }
}

@media screen and (max-width: 875px) {
  .games-wrapper .games-grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .games-wrapper .games-grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 4rem;
  }
  .games-wrapper .games-grid-container__grid-item {
    height: 600px;
    margin-bottom: 4rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 700px) {
  .games-wrapper .games-grid-container {
    gap: 2rem;
  }
  .games-wrapper .games-grid-container__grid-item {
    height: 550px;
  }
}

@media screen and (max-width: 625px) {
  .games-wrapper .games-grid-container__grid-item {
    height: 500px;
  }
}

@media screen and (max-width: 550px) {
  .games-wrapper .games-grid-container__grid-item {
    height: 450px;
  }
}

@media screen and (max-width: 500px) {
  .games-wrapper .games-grid-container__grid-item {
    height: 400px;
  }
}

@media screen and (max-width: 450px) {
  .games-wrapper .games-grid-container__grid-item {
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .games-wrapper .games-grid-container__grid-item {
    height: 250px;
  }
}
/*# sourceMappingURL=games-overview.styles.css.map */