.slider-page-wrapper {
    width: 100%;
    padding: 2.5rem 0;
    background: linear-gradient(
        to right bottom,
        rgba(34, 19, 19, 1) 0%,
        rgba(116, 18, 18, 1) 100%
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .btn {
        padding: 0.4rem 2.8rem;
        font-size: 2rem;
        color: #fff;
        background: #c53030;
        box-shadow: 0px 0px 2px 0px #fff;
        border-radius: 2rem;
        transition: box-shadow 1s ease-in-out, transform 0.3s ease-in;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 4px 0px #fff;
        }

        &:focus,
        &:active {
            outline: none;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .btn-left {
        margin-right: 2rem;
    }

    .btn-right {
        margin-left: 2rem;
    }

    .slider-container {
        height: 100%;
        width: 100%;

        .slider-header {
            width: 5rem;
            text-align: center;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                letter-spacing: 0.4rem;

                font-size: 1.6rem;
                line-height: 2.2rem;
                padding: 3.5rem 0;
                color: #fff;
                text-transform: uppercase;
                text-shadow: -1px -1px 0px #ffffff;
            }
        }

        .cards-slider {
            max-width: 36rem;
            height: 30rem;
            margin: 0 auto;
            position: relative;

            &-wrapper {
                display: flex;
                position: absolute;
                transition: transform 400ms
                    cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
        }
    }
}

@media only screen and (max-width: 80rem) {
    .slider-page-wrapper {
        .btn {
            padding: 0.3rem 2.4rem;
            font-size: 1.8rem;
        }

        .btn-left {
            margin-right: 1.8rem;
        }

        .btn-right {
            margin-left: 1.8rem;
        }

        .slider-container {
            .slider-header {
                h2 {
                    letter-spacing: 0.4rem;

                    font-size: 1.5rem;
                    line-height: 2rem;
                    padding: 3rem 0;
                }
            }

            .cards-slider {
                max-width: 33rem;
            }
        }
    }
}

@media only screen and (max-width: 73rem) {
    .slider-page-wrapper {
        .btn {
            padding: 0.3rem 2.4rem;
            font-size: 1.8rem;
        }

        .btn-left {
            margin-right: 1.8rem;
        }

        .btn-right {
            margin-left: 1.8rem;
        }

        .slider-container {
            .slider-header {
                h2 {
                    font-size: 1.5rem;

                    padding: 2.5rem 0;
                }
            }

            .cards-slider {
                max-width: 31rem;
            }
        }
    }
}

@media only screen and (max-width: 69rem) {
    .slider-page-wrapper {
        padding: 1.5rem 0;
        .btn {
            padding: 0.3rem 2.4rem;
            font-size: 1.8rem;
        }

        .btn-left {
            margin-right: 1.6rem;
        }

        .btn-right {
            margin-left: 1.6rem;
        }

        .slider-container {
            .slider-header {
                h2 {
                    font-size: 1.5rem;

                    padding: 2.5rem 0;
                }
            }

            .cards-slider {
                max-width: 29rem;
            }
        }
    }
}

@media only screen and (max-width: 65rem) {
    .slider-page-wrapper {
        .btn {
            padding: 0.3rem 2.2rem;
            font-size: 1.7rem;
        }

        .btn-left {
            margin-right: 1.5rem;
        }

        .btn-right {
            margin-left: 1.5rem;
        }

        .slider-container {
            .slider-header {
                h2 {
                    font-size: 1.4rem;

                    padding: 2.5rem 0;
                }
            }

            .cards-slider {
                max-width: 27rem;
            }
        }
    }
}

@media only screen and (max-width: 55rem) {
    .slider-page-wrapper {
        .btn {
            padding: 0.3rem 2.2rem;
            font-size: 1.7rem;
        }

        .btn-left {
            margin-right: 1.4rem;
        }

        .btn-right {
            margin-left: 1.4rem;
        }

        .slider-container {
            .slider-header {
                h2 {
                    font-size: 1.3rem;

                    padding: 2rem 0;
                }
            }

            .cards-slider {
                max-width: 26rem;
            }
        }
    }
}

@media only screen and (max-width: 38rem) {
    .slider-page-wrapper {
        .btn {
            padding: 0.3rem 1.8rem;
            font-size: 1.5rem;
        }

        .btn-left {
            margin-right: 1.3rem;
        }

        .btn-right {
            margin-left: 1.3rem;
        }

        .slider-container {
            .slider-header {
                h2 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 28.5rem) {
    .slider-page-wrapper {
        position: relative;
        .btn-left {
            position: absolute;
            bottom: 10%;
            left: 5rem;
            z-index: 1000;
        }

        .btn-right {
            position: absolute;
            bottom: 10%;
            right: 5rem;
            z-index: 1000;
        }

        .slider-container {
            .slider-header {
                h2 {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 26.5rem) {
    .slider-page-wrapper {
        .btn-left {
            bottom: 15%;
        }

        .btn-right {
            bottom: 15%;
        }

        .slider-container {
            .cards-slider {
                max-width: 21rem;
            }
        }
    }
}

@media only screen and (max-width: 23.5rem) {
    .slider-page-wrapper {
        .btn-left {
            left: 4rem;
        }

        .btn-right {
            right: 4rem;
        }

        .slider-container {
            .cards-slider {
                max-width: 21rem;
            }
        }
    }
}

@media only screen and (max-width: 22rem) {
    .slider-page-wrapper {
        .btn-left {
            bottom: 20%;
        }

        .btn-right {
            bottom: 20%;
        }

        .slider-container {
            .cards-slider {
                max-width: 19rem;
            }
        }
    }
}
