.signout-button-container {
    .signout-button {
        color: #fff;
        text-decoration: none;
        background: linear-gradient(58deg, #d72593 0%, #e770fc 100%);
        padding: 0.2rem 0.8rem;
        border-radius: 1.2rem;
        display: inline-block;
        transition: all 0.5s ease-out;
        font-size: 1rem;

        &:hover {
            transform: scale(1.05);
        }
    }
}
