.new-post-page-wrapper {
    background-image: url("https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    // background-color: rgba(0, 0, 0, 0.85);

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;

    h2 {
        color: #fff;
        font-size: 3rem;
        padding: 5rem 0;
        z-index: 50;
    }

    .new-post-form-container-overlay {
        background-color: #000;
        opacity: 0.7;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .new-post-form-container {
        background: #980000;
        margin-bottom: 10rem;
        padding: 5rem 10rem;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: -2px -1px 2px -3px rgba(255, 255, 255, 0.75);

        #newPost-form {
            .required-info {
                position: absolute;
                right: 1.2rem;
                top: 1rem;
                color: #fff;

                p {
                    font-size: 0.8rem;
                }
            }
            .new-post-form-content-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                label {
                    font-weight: 700;
                    padding: 0.2rem 0;
                    color: #febe3e;
                    margin: 0.3rem 0;

                    .label-span {
                        color: #fff;
                    }
                }

                .form-input {
                    padding: 0.3rem 3rem;
                    font-family: "Roboto", sans-serif;
                    position: relative;
                    width: 65%;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    background: #fff;
                    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.6);
                    color: #000;
                    text-align: center;

                    &::placeholder {
                        color: #000;
                        font-family: fantasy;
                        font-size: 0.75rem;

                        opacity: 0.5;
                    }
                }

                .input-container {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    width: 100%;
                }

                .drop-down-list {
                    padding: 0.5rem 1rem;
                    font-family: "Roboto", sans-serif;
                    width: 35%;
                    font-size: 1rem;
                    outline: none;
                    border: none;
                    background: #fff;
                    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.6);
                    color: #000;
                    text-align: center;
                    font-weight: bold;
                    option {
                        font-weight: bold;
                    }
                }

                .blogpost-message {
                    box-sizing: border-box;
                    font-family: "Roboto", sans-serif;
                    width: 40rem;
                    height: 30rem;
                    padding: 0.5rem 2.5rem 2rem 0.5rem;
                    outline: none;
                    border: none;
                    font-size: 1.2rem;
                    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.6);
                    resize: none;

                    &::placeholder {
                        color: #000;
                        font-family: fantasy;
                        font-size: 0.85rem;

                        opacity: 0.5;
                    }
                }

                .spinner-style {
                    margin-top: 1rem;
                }

                .image-style {
                    height: 15rem;
                    width: 15rem;
                    object-fit: contain;
                }
            }

            .upload-container {
                margin-top: 1rem;
                .custom-file-upload {
                    background: linear-gradient(
                        58deg,
                        #235ea5 0%,
                        #00c8ff 100%
                    );
                    border-radius: 6.25rem;
                    display: block;
                    width: 40%;
                    text-align: center;
                    cursor: pointer;
                    input[type="file"] {
                        display: none;
                    }

                    .image-upload-text {
                        color: #fff;
                        padding: 0.15rem 0rem;
                    }
                }
            }

            .newPost-submit-button {
                display: block;
                margin: auto;
                margin-top: 2.5rem;

                padding: 0.8rem 6rem;
                background-color: #fff;
                border: none;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 6.25rem;
                box-shadow: -2px -1px 4px -3px rgba(255, 255, 255, 0.75);
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                &:hover {
                    transform: translateY(-5%) scale(1.05);
                    box-shadow: -2px -1px 16px -3px rgba(255, 255, 255, 0.75);
                }

                &:active {
                    transform: translateY(5%);
                }
            }
        }
    }
}

.singlePost-container-return-button {
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    box-shadow: -2px -1px 4px -3px rgba(255, 255, 255, 0.75);
    background-color: #fff;

    .back-to-blog-icon {
        font-size: 1.05rem;
        margin-right: 0.5rem;
    }
}
