.footer-container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: rows;
    height: 300px;

    &-logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;

        .main-logo-footer {
            padding: 2.5rem 0 1rem 0;

            width: 250px;
            color: #2c2828;
        }
    }

    &-links {
        flex: 1;
        text-align: center;
        margin-bottom: 5rem;

        margin-top: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-copyright {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 5rem;
        .footer-copyright-text {
            border-top: 1px solid #000;
            width: 100%;
            color: #2c2828;
            font-weight: 700;
            font-size: 1rem;
            text-align: right;
            margin-top: 1rem;
            padding-top: 1rem;
            text-align: center;
        }
    }
}

.iconMod-footer {
    flex: 1;
    color: #2c2828;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;
    margin-left: 20px;

    &:hover {
        color: #c53030;
    }
}

@media only screen and (max-width: 65.625rem) {
    .footer-container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        position: relative;

        &-logo {
            display: none;
        }

        &-links {
            flex: none;
            margin-bottom: 0rem;
            margin-top: 0rem;
        }

        &-copyright {
            flex: none;

            align-items: center;
            margin-bottom: 0.2rem;
            .footer-copyright-text {
                padding-top: 0.5rem;
            }
        }
    }

    .iconMod-footer {
        margin-right: 15px;
        margin-left: 15px;
    }
}
