.reset-password-form-container {
    display: flex;
    flex-direction: column;
    margin: 10rem;
    position: relative;
    background-color: #fff;
    padding: 3rem 5rem;
    width: 28rem;
    border-radius: 0.3rem;
    box-shadow: -2px -1px 4px -3px rgba(255, 255, 255, 0.75);

    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: #3e464b;
    }

    .reset-password-form {
        display: flex;
        flex-direction: column;
        text-align: left;

        label {
            font-size: 0.8rem;
            color: #42474d;
            font-weight: 500;
            line-height: 2rem;
            padding-top: 0.5rem;
        }

        .reset-password-input {
            padding: 0.4rem 0.8rem;
            height: 40px;

            border: 1px solid #cecece;
            outline: none;

            &:active,
            &:focus {
                box-shadow: 1px 1px 5px 1px rgba($color: #206a74, $alpha: 0.5);
            }
        }

        .required-paragraph {
            color: #f56565;
            text-align: left;
            font-size: 0.8rem;
            line-height: 1.5rem;
        }

        .reset-password-button {
            width: 100%;
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 0.5rem 1rem;
            border: none;
            color: #fafafa;
            background-color: #c53030;
            font-size: 1.2rem;
            border-radius: 0.2rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
            }
            &:active,
            &:focus {
                outline: none;
            }

            &:active {
                transform: scale(0.85);
            }
        }

        //Small spinner
        .login-small-spinner {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            margin-top: 1.5rem;

            padding: 0.1rem 6rem;
        }
    }
    p {
        text-align: center;
        font-size: 0.8rem;
        color: #42474d;
        font-weight: 500;
        line-height: 2rem;

        &:hover {
            cursor: pointer;
        }
    }

    //Popupmessage
    .popup-message {
        display: block;
        background-color: #fff5f5;
        padding: 0.5rem 1rem;
        width: 100%;
        border: 1px solid #e53e3e;
        border-radius: 0.15rem;
        &-paragraph {
            color: #f56565;
            font-size: 0.8rem;
            line-height: 0.8rem;
        }
    }

    .success-popup-message {
        display: block;
        background-color: #fff5f5;
        padding: 0.5rem 1rem;
        width: 100%;
        border: 1px solid #02ec50;
        border-radius: 0.15rem;
        &-paragraph {
            color: #12b11a;
            font-size: 0.8rem;
            line-height: 0.9rem;
        }
    }
}

@media only screen and (max-width: 65.625rem) {
    .reset-password-form-container {
        width: 26rem;
        padding: 3rem 4.5rem;
    }
}

@media only screen and (max-width: 50rem) {
    .reset-password-form-container {
        width: 24rem;
        padding: 2.5rem 4rem;

        .reset-password-form {
            .login-input {
                padding: 0.4rem 0.8rem;
            }
        }
    }
}

@media only screen and (max-width: 46.875rem) {
    .reset-password-form-container {
        width: 22rem;
        padding: 2rem 3.5rem;

        .reset-password-form {
            .reset-password-button {
                font-size: 1.1rem;
            }
        }

        h2 {
            font-size: 1.3rem;
        }
    }
}

@media only screen and (max-width: 32rem) {
    .reset-password-form-container {
        .reset-password-form {
            .reset-password-button {
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 26rem) {
    .reset-password-form-container {
        width: 20rem;
        padding: 2rem 3.5rem;

        h2 {
            font-size: 1.3rem;
        }
    }
}
