.register-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 3rem 5rem;
  margin: 10rem;
  width: 40rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: -2px -1px 4px -3px rgba(255, 255, 255, 0.75);
          box-shadow: -2px -1px 4px -3px rgba(255, 255, 255, 0.75);
}

.register-form-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #3e464b;
}

.register-form-container .register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.register-form-container .register-form label {
  font-size: 0.8rem;
  color: #42474d;
  font-weight: 500;
  line-height: 2rem;
}

.register-form-container .register-form .login-input {
  padding: 0.4rem 1.8rem;
  height: 40px;
  margin-bottom: 0.8rem;
  border: 1px solid #cecece;
  outline: none;
}

.register-form-container .register-form .login-input:active, .register-form-container .register-form .login-input:focus {
  -webkit-box-shadow: 1px 1px 5px 1px rgba(32, 106, 116, 0.5);
          box-shadow: 1px 1px 5px 1px rgba(32, 106, 116, 0.5);
}

.register-form-container .register-form .password-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-form-container .register-form .password-container .single-password-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-form-container .register-form .register-submit-button {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #fafafa;
  background-color: #c53030;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.register-form-container .register-form .register-submit-button:hover {
  cursor: pointer;
}

.register-form-container .register-form .register-submit-button:active, .register-form-container .register-form .register-submit-button:focus {
  outline: none;
}

.register-form-container .register-form .register-submit-button:active {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.register-form-container .register-form .password-rules-container .password-rules-paragraph {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: bold;
  color: #434343;
}

.register-form-container .popup-message {
  display: block;
  background: radial-gradient(rgba(197, 48, 48, 0.85) 0%, rgba(14, 13, 38, 0.85) 100%);
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  margin-top: 0.75rem;
}

.register-form-container .popup-message-paragraph {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
}

.register-form-container p {
  text-align: center;
  font-size: 0.8rem;
  color: #42474d;
  font-weight: 500;
  line-height: 2rem;
}

.register-form-container p:hover {
  cursor: pointer;
}

.register-form-container .register-small-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  padding: 0.1rem 6rem;
}
/*# sourceMappingURL=RegisterForm.styles.css.map */